<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shop24</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/artikelstyle.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/public/style.css" />
    <script src="/public/main.js"></script>
    <script src="/public/script.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="search">
        <input class="search-input" type="text" placeholder="Search..." />
      </div>
      <h1 class="uberschrift">Welcome on Shop24</h1>
      <div class="container">
        <div class="button-container">
          <% if (!Login){ %>
          <a href="change-articles" class="action">
            <span>Artikel bearbeiten</span>
          </a>
          <a href="logout" class="action">
            <span>Logout</span>
          </a>

          <% }else {%>
          <a href="login" class="action">
            <span>Login</span>
          </a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="row">
        <div class="column">
          <% articles.forEach((article) => { %>
            <div class="mySlides" onclick="setcurrentitem(<%= article.ID %>)"><img src="<%= article.Bild %>" /></div>
          <% }); %>
        </div>
        <div class="column">
          <% articles.reverse().forEach((article) => { %>
            <div class="mySlides2" onclick="setcurrentitem(<%= article.ID %>)"><img src="<%= article.Bild %>" /></div>
          <% }); %>
        </div>
      </div>
        
      <div class="unteresPanel">
        <% articles.forEach((article) => { %>
        <div class="artikelFenster" onclick="setcurrentitem(<%= article.ID %>)">
            <div class="untereArtikel"><img src="<%= article.Bild %>" />
              <div class="highlight-txt">
                <div class="artikelText"><%= article.Name %></div>
                <div class="artikelText2"><%= article.Preis %>€</div>

              </div></div>
            </tbody>
          </table>
        </div>
        <% }); %>
      </div>
    </div>

    <%- include('../partials/modal.ejs', {articles: articles})%>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script>
      var slideIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1}
        x[slideIndex-1].style.display = "block";
        setTimeout(carousel, 5000); 
}
      var slideIndex2 = 0;
      carousel2();

      function carousel2() {
        var i;
        var x = document.getElementsByClassName("mySlides2");
        for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
        }
        slideIndex2++;
        if (slideIndex2 > x.length) {slideIndex2 = 1}
        x[slideIndex2-1].style.display = "block";
        setTimeout(carousel2, 4500); 
}
      </script>
  </body>
</html>
