<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emil</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./../public/artikelstyle.css"
    />
  </head>

  <body>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="parent">
          <% data.forEach(entry => { %>
          <div class="divimg">
            <img src="<%= entry.Bild %>" />
          </div>
          <div class="divname">
            <h1><%= entry.Name %></h1>
          </div>
          <div class="divprice">
            <div class="priceBack">
              <a class="price"><%= entry.Preis %></a>
              <a class="euro">€</a>
            </div>
          </div>
          <div class="divavg" id="average">
            <div class="avgBack">
              <% if(entry.Anzahlbewertung != 0){ %>
              <a class="avg"
                ><%= (entry.Bewertung/entry.Anzahlbewertung).toFixed(1) %>/5</a
              >
              <% } else{ %>
              <a class="avg"> 0/5</a>
              <% } %>
              <a class="star">⭐</a>
            </div>
          </div>
          <div class="divdesc">
            <p class="desc"><%= entry.Beschreibung %></p>
          </div>
          <div class="divrate">
            <a class="rate">Bewerten:</a>
            <%/* %> <% if () { %>
            <a class="rate" onclick="bewertung(1, <%= entry.ID %>)">⭐</a>
            <% } %> <% if () { %>
            <a class="rate" onclick="bewertung(2, <%= entry.ID %>)">⭐</a>
            <% } %> <% if () { %>
            <a class="rate" onclick="bewertung(3, <%= entry.ID %>)">⭐</a>
            <% } %> <% if () { %>
            <a class="rate" onclick="bewertung(4, <%= entry.ID %>)">⭐</a>
            <% } %> <% if () { %>
            <a class="rate" onclick="bewertung(5, <%= entry.ID %>)">⭐</a>
            <% } %> <%*/%>

            <a class="rate" onclick="bewertung(1, <%= entry.ID %>)">⭐</a>
            <a class="rate" onclick="bewertung(2, <%= entry.ID %>)">⭐</a>
            <a class="rate" onclick="bewertung(3, <%= entry.ID %>)">⭐</a>
            <a class="rate" onclick="bewertung(4, <%= entry.ID %>)">⭐</a>
            <a class="rate" onclick="bewertung(5, <%= entry.ID %>)">⭐</a>
          </div>
          <% } )%>
        </div>
      </div>
    </div>
    <script src="./../public/script.js"></script>
  </body>
</html>
